[core]
	editor = nvim

[pull]
	rebase = true

[log]
    date = iso-local

[include]
    path = ~/.config/.gitconfig

[format]
    pretty = tformat:%C(yellow)%h %C(blue)%as%C(auto)%d %C(reset)%s

[alias]
    branches = branch -a
    graph = log --oneline --all --graph
    oneline = log -20
