@theme "~/.config/rofi/themes/zegonix.rasi"
//@import "~/.config/rofi/themes/squared-nord.rasi"
//@import "~/.config/rofi/themes/test.rasi"

configuration {
  modes: "combi,run,window,ssh";
  combi-modes: "window,drun,run,ssh";
  terminal: "alacritty";
  case-sensitive: false;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
