@theme "~/.config/rofi/themes/zegonix-blue.rasi"
//@theme "~/.config/rofi/themes/zegonix-black.rasi"

configuration {
  modes: "combi,window,run";
  combi-modes: "drun,run";
  drun-match-fields: "filename,name,generic,keywords";
  matching: "fuzzy";
  monitor: -1;
  terminal: "ghostty";
  case-sensitive: false;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
