@theme "~/.config/rofi/themes/zegonix-blue.rasi"
//@theme "~/.config/rofi/themes/zegonix-black.rasi"

configuration {
  modes: "combi,window,run,ssh";
  combi-modes: "drun,run,ssh";
  monitor: -1;
  terminal: "alacritty";
  case-sensitive: false;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
